*.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.egg-info/
*.egg
*.log
*.bak
*.swp
*.swo
*.tmp
*.cache
*.cover 
use.txt
logs/
hosting/
*.md
*.tar